
<h1>new message</h1>
<form method="POST" action="/new">
    <label for="author" id="author" name="author">Your name: </label>
    <input type="text" id="author" name="author">

    <label for="message">The Message: </label>
    <input type="text" id="message" name="message">

    <button type="submit">send</button>
</form>


